@model SocialNetwork
<div class="container">
    <form method="post" enctype="multipart/form-data">

    

        <div class="form-group">
            <label asp-for="Link">Link</label>
            <input type="text" class="form-control" asp-for="@Model.Link">
            <span class="alert-danger" asp-validation-for="Link"></span>
        </div>



        <div class="form-group">
            <select class="form-select" asp-for="Icon" aria-label="Disabled select example">
                <option selected>Choose Icon</option>
                <option value="fa-brands fa-twitter"> twitter</option>
                <option value="fa-brands fa-facebook"> facebook</option>
                <option value="fa-brands fa-instagram"> instagram</option>
                <option value="fa-brands fa-linkedin">linkedin</option>



            </select>
            <span class="alert-danger" asp-validation-for="Icon"></span>
        </div>
        @Html.AntiForgeryToken()
        <button type="submit">Update</button>
    </form>
</div>