@model List<Blog>

@foreach (var item in Model)
{
    <div class="single-post mb-30">
        <div class="single-post-img">
            <a href="blog-details.html">
                <img src="~/assets/img/blog/@item.Image" alt="@item.Title">
                <div class="blog-hover">
                    <i class="fa fa-link"></i>
                </div>
            </a>
        </div>
        <div class="single-post-content">
            <h4><a href="/blog/detail/@item.Id">@item.Title</a></h4>
            <p>By @item.Writer  / @item.Time?.ToString("MMMM d, yyyy")</p>
        </div>
    </div>
}