@model Setting

<div class="col-md-6 col-sm-6">
    <div class="about-content">
        <h2>@Model.WelcomeTittle</h2>
        <p>@Model.WelcomeDesc1</p>
        <p class="hidden-sm">@Model.WelcomeDesc2</p>
        <a class="default-btn" href="item.Link">@Model.WelcomeButtonContent</a>
    </div>
</div>
<div class="col-md-6 col-sm-6">
    <div class="about-img">
        <img src="~/assets/img/footer/@Model.WelcomeImage" alt="about">
    </div>
</div>